
/*アバウトエリア*/
.about__wrapper{
  margin: 100px auto;
  width:100%;
  @media screen and (max-width: $res-max-width){
   margin: 30px auto;
  }
}
.about__box{
  width:80%;
  margin: 50px auto;
  position: relative;
  @media screen and (max-width: $res-max-width){
      width: 80%;
  }
  p{
    margin: 40px auto auto auto;
    width:90%;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    @media screen and (max-width: $res-max-width){
        height: auto;
    }
  }
}

/*この辺参考　https://saruwakakun.com/html-css/reference/box */
.about-text-wrap{
  background: #FFFFFF9E;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 60%;
  z-index: 2;
  @media screen and (max-width: $res-max-width){
    width: auto;
  }
  p{
    @media screen and (max-width: $res-max-width){
      text-align: left;
    }
  }
}

.about__box_img3{
  position: absolute;
  width: 200px;
  top: 20%;
  right: 0%;
  z-index: 2;
  @media screen and (max-width: $res-max-width){
    display: none;
  }
}
.about__box_img2{
  position: absolute;
  width: 400px;
  top: 40%;
  right: 5%;
  @media screen and (max-width: $res-max-width){
    position: unset;
    width: 100%;
    margin-top: 60px;
  }

}


.about-title{
  width:100%;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  @media screen and (max-width: $res-max-width){
      font-size: 20px;
  }
}


//-------disc------

.disc{
  width:100%;
  text-align: center;
  padding:80 0 80 0px;
  margin-bottom: 20px;
  opacity: 0;
  animation-duration: 1s;/* アニメーション時間 */

  h3{
      font-size:20px;
      font-weight:bold;
      &::before{
        font-family: FontAwesome;
        content: "\f00c";
        padding-right : 5px;/*文字との隙間*/
        color: red;/*アイコンの色*/
      }
      @media screen and (max-width: $res-max-width){
          font-size: 26px;
      }
    }

  &__about{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 36px;
    background-color: #79E8E885;
    @media screen and (max-width: $res-max-width){
        font-size: 30px;
        height: 100px;
        line-height: 100px;
    }
    &__wrapper{
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: $res-max-width){
        flex-wrap: wrap;
      }
    }
  }

    &__card{
    width: 30%;
    box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -webkit-transform: translate(0, 0);
    margin: 30px 0;
    @media screen and (max-width: $res-max-width){
        width: 80%;
        margin: 10px 0;
    }
    p {
      height: 60px;
    }
    &__image{
      font-size: 100px;
    }
  }
  &__tweet{
    width: 80%;
    margin: 30px 0;
    @media screen and (max-width: $res-max-width){
        margin: 10px 0;
    }
  }

}



.slideimg{
  animation-duration: 2s;/* アニメーション時間 */
  animation-name: RightToLeft;/* アニメーション名 */
}

.move{
  -webkit-transform: translate(100px, 0);
  opacity:0;
}
