.twitter{
  &__container{
    text-align: center;
    h2{
      width: 100%;
      height: 150px;
      line-height: 150px;
      font-size: 36px;
      background-color:#79E8E885;
      margin: 0;
      @media screen and (max-width: $res-max-width){
          font-size: 30px;
          height: 100px;
          line-height: 100px;
      }
    }
    span{
      font-size: 12px;
    }

  }
  &__posts{
    width: 90%;
    margin: auto;
    background-color: #00000014;
    li{
      width: 90%;
      margin: 10px auto;
      background:white;
    }

  }
}

.each-tweet{
    a{
    background-color:#87ceeb66;
    padding: 5px;
    }
  }

.tweets{
 margin: 50px auto 150px auto;
}
